* {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body, #core-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#sheet {
    width: 100%;
    height: 100%;
}

text {
    cursor: default;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #29333e;
  line-height: 50px;
  position: fixed;
  top: 0;
}

.header .ant-btn {
    margin: 0 10px;
}

/* app tools */
#getTextSize, #editReceiver, #dragSelectBox {
    position: fixed;
}

#editReceiver {
    z-index: -1;
}

#dragSelectCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#dragSelectBox {
  position: absolute;
  border: 1px solid #01358f;
  background-color: #7f8da8;
  opacity: 0.4;
}