* {
    box-sizing: border-box;
}

body, #app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#sheet {
    width: 100%;
    height: 100%;
}

text {
    cursor: default;
}


/* app tools */
#getTextSize, #editReceiver {
    position: fixed;
}

#editReceiver {
    z-index: -1;
}