* {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body, #core-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#sheet {
    width: 100%;
    height: 100%;
}

text {
    cursor: default;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #29333e;
  line-height: 50px;
  position: fixed;
  top: 0;
}

/* copy from bootstrap */

button {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.42857143;

  border-radius: 4px;
  border: 1px solid transparent;

  padding: 6px 12px;
  margin-left: 10px;

  cursor: pointer;
  touch-action: manipulation;

  outline: none;
}

button[disabled] {
  cursor: not-allowed;
  opacity: .65;
}

.small-button {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.primary-button, .primary-button[disabled]:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.primary-button:hover {
  background-color: #286090;
  border-color: #204d74;
}

.primary-button:active:hover {
  background-color: #204d74;
  border-color: #122b40;
}


/* app tools */
#getTextSize, #editReceiver, #dragSelectBox {
    position: fixed;
}

#editReceiver {
    z-index: -1;
}

#dragSelectCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#dragSelectBox {
  position: absolute;
  border: 1px solid #01358f;
  background-color: #7f8da8;
  opacity: 0.4;
}