#operation-panel-container {
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}

.topic-edit-panel {
    width: 100vw;
    height: 200px;
    border: 1px solid;
}

.topic-edit-panel > div {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0.5em;
}