
.edit-panel {
    width: 340px;
    height: 100%;
    border-left: 2px solid #29333e;
    box-shadow: -4px 1px 10px -2px  #29333e;
    padding: 10px;
}

.sketch-color-picker {
    display: inline-flex;
    position: relative;
}

.color-picker-swatch {
    padding: 5px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
}

.color-picker-swatch div {
    width: 36px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
}

.color-picker-popover {
    position: absolute;
    z-index: 2;
    top: 27px;
    right: 0;
}

.color-picker-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* topic edit panel */

#onUpdateIsFontBold + label {
    font-weight: 700;
}

#onUpdateIsFontItalic + label {
    font-style: italic;
}

#onUpdateIsFontLineThrough + label {
    text-decoration: line-through;
}


/* widget type-func area */
.edit-panel .type-func {

}

/* panel's btn */
.edit-panel .ant-btn {
    width: 100%;
    display: block;
    margin: 10px auto;
}

/* panel's widget row */
.edit-panel .row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

/* selector's width */
.row-container .ant-select {
    width: 64%;
}

/* panel's hr */
.edit-panel .hr {
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.65);
    margin: 10px 0;
}